<div class="row">
  <div class="span8">
    <h2 class="page-title">Recent Runs</h2>
  </div>
</div>

<div class="row">
  <div class="span8">
    <section id="addWorkoutPanel"></section>
    <section id="log"></section>
  </div>
  <div class="span4">
    <aside class="sidebar panel span4">
      <div class="panel-header">
        <h4><i class="icon-signal"></i> Run Stats</h4>
      </div>
      <div class="panel-body">
        <div id="workout-stats"></div>
      </div>
    </aside>
  </div>
</div>