<div class="row">
  <div class="span8">
    <div class="panel-header">
      <h4><a href="#"><%= title %></a></h4>
    </div>
  </div>
</div>
<div class="row">
  <div class="span8">
    <div class="panel-body">

        <div class="run-stats">
          <p>
            <span class="distance"><%= distance %> mi</span> /
            <span class="time"><%= time %></span>
            (<span class="pace"><%= pace %></span> pace)
          </p>
        </div>

        <div class="run-info">
          <p><span class="date"><%= date %></p>
          <p><span class="location"><i class="icon-map-marker"></i> <%= location %></span></p>
        </div>


    </div>
  </div>
</div>

<div class="row">
  <div class="span8">
    <div class="panel-footer">
      <div class="workout-actions">
        <a href="#" class="edit"><i class="icon-pencil"></i> Edit</a> |
        <a href="#" class="delete"><i class="icon-remove"></i> Delete</a>
      </div>
    </div>
  </div>
</div>




<!--<div class="panel-body">
  <h4><a href="#"><%= title %></a></h4>
  <div class="run-stats">
    <span class="distance"><%= distance %> mi</span> /
    <span class="time"><%= time %></span>
    (<span class="pace"><%= pace %></span> pace)
  </div>
  <div class="run-info">
    <p><span class="date"><%= date %></p>
    <p><span class="location"><i class="icon-map-marker"></i> <%= location %></span></p>
  </div>
</div>
<div class="panel-footer">
  <div class="workout-actions">
    <a href="#" class="edit"><i class="icon-pencil"></i> Edit</a> |
    <a href="#" class="delete"><i class="icon-remove"></i> Delete</a>
  </div>
</div>-->