<% if(add == false){ %>
<div class="panel-body">
<% } %>
  <form class="form" id="workoutForm">
    <% if(add == false){ %>
      <h4><%=title%></h4>
    <% } %>

    <div class="control-group">
      <label class="control-label" for="location">Location</label>
      <div class="controls">
        <input type="text"  value="<%= (location)? location : "" %>" placeholder="Location" name="location" class="input-block-level" id="location" required/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="date">Date</label>
      <div class="controls">
         <input type="date" value="<%= (date)? date : "" %>" placeholder="Date" name="date" class="input-block-level" id="date" required/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="time">Time</label>
      <div class="controls">
        <input type="text" value="<%= (time)? time: "" %>" pattern="^(?:(?:([01]?\d|2[0-3]):)?([0-5]?\d):)?([0-5]?\d)$" placeholder="Time (HH:MM:SS)" name="time" class="input-block-level" id="time" required/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="distance">Distance</label>
      <div class="controls">
         <input type="number" step="0.1" value="<%= (distance)? distance : "" %>" placeholder="Distance (mi)" name="distance" class="input-block-level" id="distance" required/>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <% if(add == true){ %>
          <input class="add btn btn-primary" name="submit" type="submit" value="Add"/>
        <% }else { %>
          <input class="update btn btn-primary" name="submit" type="submit" value="Save"/>
          <a href="#" class="cancel">Cancel</a>
        <% } %>
      </div>
    </div>
  </form>
<% if(add == false){ %>
</div>
<% } %>