/*-- Application stylesheets. -----------------------------------------------*/
@import "compass";
@import url(http://fonts.googleapis.com/css?family=Coming+Soon);
@import url(http://fonts.googleapis.com/css?family=Gloria+Hallelujah);
//1. font-family: 'Coming Soon', cursive;
//2. font-family: 'Gloria Hallelujah', cursive;
body{
  background: #eee url(../img/furley_bg.jpg) 0 0 repeat;
  @media screen and (min-width:768px){
    padding-top:60px;
  }
  position: relative;

}
input {
   max-width: 100%;
}
#main{
  display:none;
}

a.brand,
h2.page-title{
  font-family: 'Coming Soon', cursive;
}
a.brand img{
  margin-right:7px;
}
.add-workout-container{
  .add-workout{
    display: none;
  }
}
.panel{
  background-color:white;
  margin:15px 0;
  overflow: hidden;
  @include border-radius(6px);
  @include box-shadow(0 1px 2px rgba(0,0,0,0.3));

  .panel-header{
    padding:15px;
    border-bottom: 1px solid #eee;
    background: transparent url(../img/tiny_grid.png) 0 0 repeat;
    h4{
      margin: 0;
      font-family: 'Coming Soon', cursive;
    }
  }
  .panel-body{
    padding:15px;
  }
  .panel-footer{
    border-top:1px solid #eee;
    padding:10px 15px;
    overflow: hidden;
  }
}

h4{
  [class^="icon-"], [class*=" icon-"]{
    margin-top:3px;
  }
}

.add-workout-link{
  color:#333;
  &:hover{
    text-decoration: none;
    cursor: pointer;
    color:rgba(0,100,0,0.8);
  }
}

.workout {
  overflow: hidden;
  h4{
    display: inline;
  }
  .run-stats{
    float:right;
    span{
      font-weight: bold;
      &.time{
      margin-left:10px;
      }
      &.distance{
        margin-right:10px;
      }
      &.pace{
        font-weight: normal;
      }
    }
  }
  .run-info{

  }
  .workout-actions{
    float:right;
  }
}
.sidebar{
  margin-bottom:0;
  &.affix{
    top:50px;
    @media screen and (max-width: 767px) {
      position: relative;
      top:0;

    }
  }
  &.affix-bottom{
    bottom:85px;
    position: absolute;
    @media screen and (max-width: 767px) {
      position: relative;
      top:0;
    }
  }


}


