/*-- Application stylesheets. -----------------------------------------------*/
body{
  @media screen and (min-width:980px){
    padding-top:60px;
  }
}

table input{
  width:100%;
  box-sizing:border-box;
}