/*-- Application stylesheets. -----------------------------------------------*/
@import "compass";

body{
  background-color: #eee;
  @media screen and (min-width:980px){
    padding-top:60px;
  }
}
input {
   max-width: 100%;
}
#main{
  display:none;
}
.add-workout-container{
  .add-workout{
    display: none;
  }
  h4{
    margin: 0;
  }
}
.panel{
  background-color:white;
  margin:15px 0;
  padding:15px;
  @include border-radius(6px);
  @include box-shadow(0 1px 2px rgba(0,0,0,0.3));
}

h4{
  [class^="icon-"], [class*=" icon-"]{
    margin-top:3px;
  }
}

.add-workout-link{
  color:#333;
  &:hover{
    text-decoration: none;
    cursor: pointer;
    color:rgba(0,100,0,0.8);
  }
}
.workout {
  overflow: hidden;
  h4{
    display: inline;
  }
  .run-stats{
    float:right;
    span{
      font-weight: bold;
      &.time{
      margin-left:10px;
      }
      &.distance{
        margin-right:10px;
      }
      &.pace{
        font-weight: normal;
      }
    }
  }

  .workout-actions{
    float:right;
  }
}