<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Milers</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/vendor/jquery-ui-1.10.3.custom.min.css">
    <link rel="stylesheet" href="css/styles.css">

    <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
  </head>
  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">MILERS</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Log</a></li>
              <li class=""><a href="#">Routes</a></li>
              <li class=""><a href="#">Analytics</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Actions <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li class="nav-header">Workout Actions</li>
                  <li><a href="#" class="nav-add-workout">Add Workout</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">Routes</li>
                  <li><a href="#">Add Route</a></li>
                  <li><a href="#">View Routes</a></li>
                </ul>
              </li>
            </ul>
            <form class="navbar-form pull-right">
              <input class="span2" type="text" placeholder="Email">
              <input class="span2" type="password" placeholder="Password">
              <button type="submit" class="btn">Sign in</button>
            </form>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
       <!--  <div class="hero-unit">
        <h1>Hello, world!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
      </div> -->

      <div id="main">

        <div class="row">
          <div class="span12">
            <h2>Workout Log</h2>
          </div>
        </div>
        <div class="row">
          <div class="span8">
            <section class="" id="log"></section>
          </div>
          <div class="span4">
            <aside id="add-workout-container">
              <div id="addworkout"></div>
              <a href="#" class="cancel-add-workout">Cancel</a>
            </aside>
          </div>
        </div>


      </div>

      <hr>

      <footer>
        <p>&copy; Miles 2013</p>
      </footer>

    </div> <!-- /container -->


    <script id="workoutTemplate" type="text/template">
      <h4><a href="#"><%= title %></a></h4>
      <div class="run-stats">
        <span class="distance"><%= distance %> mi</span> /
        <span class="time"><%= time %></span>
        (<span class="pace"><%= pace %></span> pace)
      </div>
      <div class="run-info">
        <p><span class="date"><%= date %></p>
        <p><span class="location"><i class="icon-map-marker"></i> <%= location %></span></p>
      </div>
      <div class="workout-actions">
        <a href="#" class="edit"><i class="icon-pencil"></i> Edit</a>
        <a href="#" class="delete"><i class="icon-remove"></i> Delete</a>
      </div>
    </script>


    <script id="workoutEditTemplate" type="text/template">

        <form action="" class="form" id="editForm">
          <%=title%>
          <input type="text" value="<%= (location)? location : "" %>" placeholder="Location" name="location"/>
          <input type="date" value="<%= (date)? date : "" %>" placeholder="Date" name="date"/>
          <input type="text" value="<%= (time)? time: "" %>" placeholder="Time H:MM:SS" name="time"/>
          <input type="number" step="0.1" value="<%= (distance)? distance : "" %>" placeholder="Distance (mi)" name="distance"/>
          <input class="update btn" name="submit" type="submit" value="Save"/>
          <a href="#" class="cancel">Cancel</a>

        </form>

    </script>

    <script id="workoutAddTemplate" type="text/template">
        <h3>Add A Workout</h3>

        <form class="form" id="addForm">
          <div class="control-group">
            <label class="control-label" for="location">Location</label>
            <div class="controls">
              <input type="text" placeholder="Location" name="location" class="input-block-level" id="location" required/>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="date">Date</label>
            <div class="controls">
               <input type="date" placeholder="Date" name="date" class="input-block-level" id="date" required/>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="time">Time</label>
            <div class="controls">
              <input type="text" pattern="^(?:(?:([01]?\d|2[0-3]):)?([0-5]?\d):)?([0-5]?\d)$" placeholder="Time (HH:MM:SS)" name="time" class="input-block-level" id="time" required/>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="distance">Distance</label>
            <div class="controls">
               <input type="number" step="0.1" placeholder="Distance (mi)" name="distance" class="input-block-level" id="distance" required/>
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <input class="add btn btn-primary" name="submit" type="submit" value="Add"/>
            </div>
          </div>

        </form>


    </script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.min.js"><\/script>')</script>

    <script src="js/vendor/underscore/underscore.min.js"></script>
    <script src="js/vendor/backbone/backbone.min.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <!-- <script src="js/vendor/jquery-ui/jquery-ui-1.10.3.custom.min.js"></script> -->
    <script src="js/vendor/moment.min.js"></script>

    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>

    <script>
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src='//www.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
  </body>
</html>
