@import url(http://fonts.googleapis.com/css?family=Coming+Soon);
@import url(http://fonts.googleapis.com/css?family=Gloria+Hallelujah);
/*-- Application stylesheets. -----------------------------------------------*/
body { background: #eeeeee url(../img/furley_bg.jpg) 0 0 repeat; }
@media screen and (min-width: 980px) { body { padding-top: 60px; } }

input { max-width: 100%; }

#main { display: none; }

a.brand, h2.page-title { font-family: "Coming Soon", cursive; }

a.brand img { margin-right: 7px; }

.add-workout-container .add-workout { display: none; }

.panel { background-color: white; margin: 15px 0; overflow: hidden; -webkit-border-radius: 6px; -moz-border-radius: 6px; -ms-border-radius: 6px; -o-border-radius: 6px; border-radius: 6px; -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3); -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3); box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3); }
.panel .panel-header { padding: 15px; border-bottom: 1px solid #eeeeee; background: transparent url(../img/tiny_grid.png) 0 0 repeat; }
.panel .panel-header h4 { margin: 0; font-family: "Coming Soon", cursive; }
.panel .panel-body { padding: 15px; }
.panel .panel-footer { border-top: 1px solid #eeeeee; padding: 10px 15px; overflow: hidden; }

h4 [class^="icon-"], h4 [class*=" icon-"] { margin-top: 3px; }

.add-workout-link { color: #333; }
.add-workout-link:hover { text-decoration: none; cursor: pointer; color: rgba(0, 100, 0, 0.8); }

.workout { overflow: hidden; }
.workout h4 { display: inline; }
.workout .run-stats { float: right; }
.workout .run-stats span { font-weight: bold; }
.workout .run-stats span.time { margin-left: 10px; }
.workout .run-stats span.distance { margin-right: 10px; }
.workout .run-stats span.pace { font-weight: normal; }
.workout .workout-actions { float: right; }

.sidebar { margin-bottom: 0; }
.sidebar.affix { top: 50px; }
@media screen and (max-width: 767px) { .sidebar.affix { position: relative; top: 0; } }
@media (min-width: 768px) and (max-width: 979px) { .sidebar.affix { top: 10px; } }
